<h4 id="notice" class='text-center text-success'><strong><%= notice %></strong></h4>

<h3 class='text-danger'>> Meus Feeds</h3>
<div class='text-right'>
    Usuario: <strong><%= current_user.name %> <%= link_to " SAIR", logout_path, method: "delete", class: 'btn btn-default glyphicon glyphicon-log-out red' %>
    </div>
<hr />

			<div class="row">
				<div class="col-md-6">
				  <p class='text-left'><a class='btn btn-danger' href='..'><i class="fa fa-home"></i> In&iacute;cio</a></p>
				</div>
				<div class="col-md-6">
				  <p class='text-right'><a class='btn btn-warning' href='../feeds/new'><i class="fa fa-plus"></i> Adicionar Feed</a></p>
				</div>
			</div>


 

<table class="table table-striped">
  <thead>
    <tr>
      <th>T&iacute;tulo</th>
      <th>Url</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  

  <tbody>
    <% @feeds.each do |feed| %>
    <% if current_user.id == feed.user_id %>
      <tr>
        <td><strong><i class="fa fa-rss-square"></i> <%= feed.title %></strong></td>
        <td><i class="fa fa-globe"></i> <%= feed.url %></td>
        <td><%= link_to 'Atualizar', retrieve_feed_path(feed) %></td>
        <td><%= link_to 'Exibir', feed %></td>
        <td><%= link_to 'Editar', edit_feed_path(feed) %></td>
        <td><%= link_to 'Excluir', feed, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br />